<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="d:\github\practice\wcf\lesson4wcfdatacontractsandmembers\teacherservicehost\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="d:\github\practice\wcf\lesson4wcfdatacontractsandmembers\teacherservicehost\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <diagnostics performanceCounters="Default">
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Lesson4WCFDataContractsAndMembers.TeacherService"  behaviorConfiguration="MyBehaviour">
        <endpoint address="MyTeacher" binding="basicHttpBinding"  contract="Lesson4WCFDataContractsAndMembers.ITeacherService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
  </system.serviceModel>
  <connectionStrings>
    <add name="DBCS" connectionString="data source=.\sqlexpress; database=my-first-db; user id = tester; password=123" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="TeacherObject.TeacherItem, TeacherObject, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null">
          <knownType type="TeacherObject.FullTimeTeacher, TeacherObject, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null" />
          <knownType type="TeacherObject.PartTimeTeacher, TeacherObject, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
</configuration>