body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  color: rgba(21, 190, 63, 0.678);
  /* font-family: Arial, Helvetica, sans-serif; */
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p,
a {
  font-size: 18px;
  text-align: justify;
  /* font-family: Arial, Helvetica, sans-serif; */
}
