<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=.\sqlexpress; database=my-first-db; user id = tester; password=123" providerName="System.Data.SqlClient"/>
    <add name="DBConnection1" connectionString="data source=(local)\sqlexpress; database=my-first-db; user id = manishpc; password=123" providerName="System.Data.SqlClient"/>
    <add name="DBConnection2" connectionString="data source=(local)\sqlexpress; database=my-first-db; Integrated Security = SSPI" providerName="System.Data.SqlClient"/>
    <add name="DBConnection3" connectionString="data source=.\sqlexpress; database=my-first-db; Integrated Security = SSPI" providerName="System.Data.SqlClient"/>
    <add name="DBConnection4" connectionString="data source=localhost\sqlexpress; database=my-first-db; Integrated Security = SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaDataExchangeBehaviour" >
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MetaDataExchangeBehaviour" name="WCFWithAjax.WCFWithAjaxService">
        <endpoint address="WCFWithAjaxServiceRelativeAddress" binding="basicHttpBinding" contract="WCFWithAjax.IWCFWithAjaxService"></endpoint>
        <endpoint address="MetaDataExchange" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>